= form_for ([@profile, @profile.websites.build]) do |f|
  %h3 Websites
  %hr.space
  .span-5
    Website Type
  %br
  .span-18
    = f.select :website_type, ["Blog", "Site"], :prompt => "Select Type:"
  %hr.space
  .span-5
    URL
  %br
  .span-18.last
    = f.url_field :url, :cols => 55, :rows => 2
  %hr.space
  = f.hidden_field :profile_id, :value => @profile.id
  .span-2
    = f.submit 'Add Site', class: 'btn'
   
