
.span-24
  .span-3.first    
    = render '/home/links', user: @user    
  
  .span-20  
    .title_medium #{@message.topic}
    = link_to image_tag(gravatar_for(@recipient), class: 'span-1', :alt => "#{@recipient.formatted_name}"), "/user/#{@recipient.username}"
    = link_to image_tag(gravatar_for(@sender), class: 'span-1', :alt => "#{@sender.formatted_name}"), "/user/#{@sender.username}"
    %hr.space
    %hr    
    %a.button{:href =>'/messages/inbox'} back to inbox
    %hr.space       
    
    = render @message
        
    %hr.space

    .span-2.first
      = image_tag gravatar_for(@sender), class: 'span-2'       
    .span-16
      #{ link_to @sender.formatted_name, user_path(@sender.username) }
      .quiet.inline 
        = time_ago_in_words @message.created_at
      %br  
      .med_size #{@message.body}
      %hr.space
      
    %hr.space  

    %h3 Reply
    .span-10
      = render 'reply_form'
      %br
      
    
    