#profile.sel_panel
  = form_for @profile do |f|
    .title_medium.span-10 Person name   
    %hr.span-12
    .span-4.append-1
      = f.label "First/given name"    
      = f.text_field :first_name, :size => 50

    .span-4.prepend-1
      = f.label "Last/family name"    
      = f.text_field :last_name, :size => 50
    %hr.space

    .title_medium.span-10 General
    %hr.span-12
    .span-10
      = f.label "Nationality"        
      = f.select :nationality, ["Argentinean","Bolivian", "Brazilian", "Chilean","French", "Peruvian","British","American"], :prompt => "Select Nationality:"
    %hr.space
    .span-10
      = f.label "Work Passes and Visa"       
      = f.select :work_pass_visa, ["Employment Pass","Work Permit", "Student Pass","Dependent Pass", "Social Visit Pass"], :prompt => "Please Select:"
    %hr.space
    .span-4.append-1
      = f.label "Date of birth"        
      = f.text_field :date_birth, id: 'born_datepicker'    
    .span-4.prepend-1
      = f.label "Sex"   
      = f.select :gender, ["Male", "Female"], :prompt => "Select Sex:"
    %hr.space

    .span-4.append-1
      = f.label "Race"    
      = f.select :race, ["Arabic", "Chinese", "Korean", "Indian", "Hispanic"], :prompt => "Select Please:"
    
    .span-4.prepend-1
      = f.label "Relationship Status"    
      = f.select :marital_status, ["Single", "In a Relationship", "Married", "Engaged", "It's Complicated"], :prompt => "Select Relationship Status:"
    %hr.space

    .span-10
      = f.label "Current Drawn"    
      $
      = f.text_field :current_drawn, :size => 20
    %hr.space

    .title_medium.span-10 Availability
    %hr.span-12
    .span-10
      = f.label "Availability"    
      = f.select :availability, ["Immediate", "1 week", "2 weeks", "1 month", "2 months"], :prompt => "Select Availability:"
    %hr.space

    .title_medium.span-10 Contact
    %hr.span-12    
    .span-4.append-1
      = f.label "Mobile number"    
      = f.text_field :mobile_number, :size => 10    
    .span-4.prepend-1
      = f.label "Home Number"        
      = f.text_field :home_number, :size => 10    
    %hr.space  
    .span-4
      = f.label "Work number"        
      = f.text_field :work_number, :size => 10    
    %hr.space

    .title_medium.span-10 Credential
    %hr.span-12        
    .span-10
      = f.label "Highest Education level"    
      = f.select :education_level, ["Doctorate(PhD)", "Master's Degree", "College", "HighSchool", "Others"], :prompt => "Select Education Level:"
    %hr.space

    .span-10
      = f.label "Skills"        
      = f.text_area :skills, :cols => 55, :rows => 2

    %hr.space
    
    .span-10
      = f.submit 'Update Profile', class: 'btn'
    %hr.space  
    .span-12
      = render 'contact_information', profile: @profile if edit