.span-3.prepend-16
  = link_to "Edit Profile", edit_user_profile_path(current_user.username), class: 'btn' if edit_btn
- @profile = @user.profile
.display
  .head
    %h2.show= "#{@profile.first_name}, #{@profile.last_name}"

    .avatar 
      = image_tag gravatar_for(@user)

  %table.show
    %tr
      %td.header Current salary
      %td.sal 
        = "$#{@profile.current_drawn}"
        .example per month 
    %tr
      %td.header Expected salary
      %td.sal
        $600.00 - $2,000.00 
        .example per month
        %br
        $30,000.00 - $200,000.00
        .example per annum            
    %tr
      %td.header Phone numbers
      %td
        %ul
          %li= "#{@profile.mobile_number} (Mobile)" if @profile.mobile_number
                                      
          %li= "#{@profile.home_number} (Home)" if @profile.home_number
                      
    %tr
      %td.header Addresses
      %td
        = @profile.addresses.first.address if @profile.addresses.present?
                  
    %tr
      %td.header Legal identifiers
      %td
        = "#{@profile.identifiers.first.identifier} (#{@profile.identifiers.first.identifier_type})" if @profile.identifiers.present? 
         
    %tr
      %td.header Instant messengers
      %td
        = "#{@profile.messengers.first.account_name} (#{@profile.messengers.first.im_type})" if @profile.messengers.present? 
                  
   
    %tr
      %td.header Websites
      %td
        = link_to "#{@profile.websites.first.url}", "@profile.websites.first.url" if @profile.websites.present?
    
    %tr
      %td.header Nationality
      %td Bolivian
    
    %tr
      %td.header Work Passes and Visa
      %td Employment Pass
    
    %tr
      %td.header Permanent resident
      %td Bolivia
    
    %tr
      %td.header Availability
      %td Available in Immediate notice
    
    %tr
      %td.header Travel
      %td Unable to travel
    
    %tr
      %td.header Relocate
      %td Unable to relocate
    %tr
      %td.header Shift
      %td Unable to work on shift

  %table.user_desc 
    %tr
      %td= @profile.race if @profile.race
      %td= @profile.gender if @profile.gender
      
      %td Bolivian
      %td
        = "#{Time.now.strftime('%Y').to_i - @profile.date_birth.strftime('%Y').to_i} years old"        
        .born= @profile.date_birth.strftime("%B %e, %Y") if @profile.date_birth
      %td  
        .end= @profile.marital_status if @profile.marital_status
  
  - if @objective && @application && @application.objective.present?
    %hr.space
    %hr
    %h2.title Objective
    %br
    .example
      = @application.objective 