
#main    
  #profile_selector.activity_streams_type
  #profile.sel_panel.span-15
    = render 'profiles/personal_profile', edit_btn: edit_btn if card    
    .resume
      .span-14.first
        - if customize_profile       
          #resume_box  
            = render 'profiles/educations', profile: profile, for_app: for_app        
                      
            = link_to "+ add education", new_user_profile_education_path(@user.username)
        - else 
          = render 'profiles/educations', profile: profile, for_app: for_app
      %hr.space         

      .span-14.first  
        - if customize_profile
          #resume_box        
            = render 'profiles/experiences', profile: profile, for_app: for_app

            = link_to "+ add experiences", new_user_profile_experience_path(@user.username)
        - else
          = render 'profiles/experiences', profile: profile, for_app: for_app 
        
      %hr.space          
      .span-14.first              
        - if customize_profile
          #resume_box        
            = render 'profiles/competencies', profile: profile, for_app: for_app

            = link_to "+ add competencies", new_user_profile_competency_path(@user.username)
        - else
          = render 'profiles/competencies', profile: profile, for_app: for_app                  
        
                
      %hr.space          
      .span-14.first
        - if customize_profile
          #resume_box        
            = render 'profiles/languages', profile: profile, for_app: for_app

            = link_to "+ add languages", new_user_profile_language_path(@user.username)
        - else
          = render 'profiles/languages', profile: profile, for_app: for_app              
        

      %hr.space          
      .span-14.first
        - if customize_profile
          #resume_box        
            = render 'profiles/references', profile: profile, for_app: for_app

            = link_to "+ add references", new_user_profile_reference_path(@user.username)
        - else
          = render 'profiles/references', profile: profile, for_app: for_app              
        
        
      %hr.space          
      .span-14.first              
        - if customize_profile
          #resume_box        
            = render 'profiles/publications', profile: profile, for_app: for_app

            = link_to "+ add publications", new_user_profile_publication_path(@user.username)
        - else
          = render 'profiles/publications', profile: profile, for_app: for_app              
        