.statuses
  -Activity.applications_feed.each do |item|
    .span-1
      = image_tag gravatar_for(item.user), :class => 'span-1'
      
    .span-18.last
      %a{:href => "/user/#{item.user.username}"}
        = item.user.username
      &nbsp;
      = raw item.text

    .span-18.last
      %em.quiet
        = time_ago_in_words(item.created_at.to_time)
    %hr    