%table.records
  %thead
    %tr
      %th ID
      %th Job title            
      %th Status
      %th Score
      %th Modified Date
  - @user.jobs.each do |job|        
    - scores = job.process_scores    
    %tr
      %td= "JD#{job.id}"
      %td{colspan:'4'}= link_to job.job_title, job    
    - job.applications.each do |app|
      %tr
        %td= "AP#{app.id}"
        %td= link_to app.user.formatted_name, user_application_path(@user.username, app)
        %td= app.status 
        %td.bold{style: "color:#{score_color(scores,app,job)};"}
          = score(scores, app, job)
        %td.date= app.updated_at.strftime("%b %e, %y, %l:%M %p")