=# stylesheet_link_tag :profile
  
.span-24.last
  .span-3.first    
    = render '/home/links', user: @user
  .span-20.last
    %h3 
      = @job.job_title
      -if can_apply? 
        = apply_job(@job) 
      - else 
        = link_to "Please complete your profile first before applying.", candidate_user_profile_path(current_user.username), style:'color:red;text-decoration:underline;'

      
      = watch_job(@job)          
    = render 'job'
  
