=# stylesheet_link_tag :profile
  
.span-24.last
  .span-3.first    
    = render '/home/links', user: @user
  .span-20.last
    %h3 
      = @job.job_title
      - if @user.applications.map(&:job_id).include? @job.id
        = link_to "(UnApply)", job_application_path(@job), method: :delete
      - else  
        = link_to "(Apply)", new_job_application_path(@job)

    = render 'job'
  
