
.span-24.first
  .span-3.first    
    = render '/home/links', user: @user    
  .span-14
    %hr.space
    .span-4
      %div.icons.icons_group
      %strong{:style => 'vertical-align:bottom;font-size:18px;'} Groups
    .span-4 &nbsp;
    .span-4.last.right
      = link_to  "New Group", new_group_path, class: 'btn btn-mini'
    
    .span-14      
      %hr.space
      - if @user.groups.present?
        - @user.groups.each do |group|
          .span-8
            %strong #{group.name}
            .quiet #{group.description}
          .span-4.last.right
            - if group.user == @user
              = link_to 'delete', group_path(group), :method => :delete, :confirm => 'Are you sure you wish to delete this page?'
              = link_to 'view', group_path(group)
            - else 
              = link_to 'view', group_path(group)  
          %hr.space
          %hr
      - else
        .title_medium.no_contacts
          You don't have any Group!
          %br
          %br
          Join a Group of your contacts or
          = link_to 'Create a new Group', new_group_path 
            
      
  .span-6.last
    %h3  Suggestions
    - if @user.friend_groups.empty?
      No suggested groups
    - else
      Your friends have joined the following groups:
      %ul
        - @user.friend_groups[0..9].each do |group|
          %li
            %a{:href => "/groups/#{group.id}"} #{group.name}