.span-16.last
  .span-2.last
    = link_to "comments(#{commentable.comments.size})", '#', :onclick => "$('#comment_box_#{commentable.class.to_s}_#{commentable.id}').toggle();$('#comment_box_#{commentable.class.to_s}_#{commentable.id}').focus();"  
   
  .span-12.last
    = link_to "like", likes_path(:user_id => current_user.id, :likeable_type => commentable.class, :likeable_id => commentable.id, :author => current_user.username), :method => :post 	
    - unless commentable.likes.empty?
      = pluralize(commentable.likes.size, 'person')
      likes this.
      - commentable.likes.each do |like|
        - if commentable.likes.last != like
          = link_to like.author, "/user/#{like.author}"
        - else
          = 'and ' unless commentable.likes.size == 1
          = link_to like.author, "/user/#{like.author}"     

  .span-10.hide{:id => "comment_box_#{commentable.class.to_s}_#{commentable.id}"}
    = form_for [commentable, Comment.new] do |f|
      = f.hidden_field :user_id, :value => current_user.id
      = f.text_field :text, :cols => 50, :rows => 2, class: 'span-12'
      %br
      = f.submit 'comment', class: 'btn btn-mini'

%hr.space{:style => 'height: 1px'}    

- unless commentable.comments.empty? 
  .span-13.push-1.last
    - commentable.comments.each do |comment|
      .span-1.first        
        = link_to (image_tag gravatar_for(comment.user), :class => 'span-1'), "/user/#{comment.user.username}"
          
      .span-10.comment_box
        #{comment.text}
        %br
        %em.quiet 
          =time_ago_in_words(comment.created_at.to_time)