<ul class="nav pull-right", id="user_menu">
  <li class="dropdown">
    <a href="#"
          class="dropdown-toggle"
          data-toggle="dropdown">
          <%= image_tag gravatar_for(current_user), class: 'avatar span-1', style: 'height:22px;width:22px;' %>  
          <%= current_user.formatted_name %>
          <b class="caret", style="margin-left:5px;"></b>
    </a>
    <ul class="dropdown-menu", style="color:#3b5998;">
      <li><%= link_to "Profile", user_profile_path(current_user.username) %></li>
      <% if current_user.employer? %>
        <li>
          <%= link_to "Create Job", "/user/#{current_user.username}/jobs/new"%>
        </li>
      <% end %> 
      <li><%= link_to "Contacts", "/contacts"%></li>
      <li class="divider"></li>
      <li><%= link_to "Logout", "/logout"%></li>
    </ul>
  </li>
</ul>